@model CimaLek.Models.Author
@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var agein = false;
}

<h1>AddAuthor</h1>

<div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
    <div class="card z-index-0">
        <div class="card-header text-center pt-4">
            <h5>Add Author</h5>
        </div>
        <div class="card-body">
            <form id="submit1" asp-action="AddAuthor" asp-route-id="@ViewBag.id" asp-route-again="@agein" enctype="multipart/form-data">

                <div class="mb-3">
                    <label asp-for="author" class="control-label"></label>
                    <input asp-for="author" class="form-control" />
                    <span asp-validation-for="author" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="control-label">Add Anthor Actor</label>
                    <input  asp-for="Again"  />
                    <span asp-validation-for="Again" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                    
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{ 
  <script>
      function submet1() {
          document.getElementById("again").checked = true;
          alert(document.getElementById("again").checked);
          $('#submit1').submit();
      }
  </script>
}